%h1 Question Details
%br
%h3= @question.question_text

= form_for @question do |f|
	.form-group
		= f.label :scholarship
	.col-lg-10
		= f.select :application_id, Scholarship.all.collect {|scholarship| [ scholarship.title, scholarship.id ]}
	%br
	= f.submit "Apply"