/ %h1 Student Profile
/ %br
/ %h3= @student.name
/ %p= @student.description
/ %p= @student.email

%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "http://www.blacktie.co/docs-assets/ico/favicon.png", rel: "shortcut icon"}/
    %title scholarFly
    / Bootstrap core CSS
    %link{href: "http://www.blacktie.co/demo/stanley/assets/css/bootstrap.css", rel: "stylesheet"}/
    / Custom styles for this template
    %link{href: "http://www.blacktie.co/demo/stanley/assets/css/main.css", rel: "stylesheet"}/
    %script{src: "https://code.jquery.com/jquery-1.10.2.min.js"}
    %script{src: "assets/js/hover.zoom.js"}
    %script{src: "assets/js/hover.zoom.conf.js"}
#ww
  .container
    .row
      .col-lg-8.col-lg-offset-2.centered
        %img{src: "https://media.licdn.com/media/p/7/005/046/3a8/3283a1e.jpg"}
          %h1 #{@student.name}
          %h3 #{@student.description}
          %p Hello everybody. I'm #{@student.name}.  I'm really excited about college and hope to be the first student to earn a full ride using scholarFly.
          = button_to "Delete Profile", "/students/#{@student.id}", {:action => "delete", :method => :delete}
          =button_to "Edit Profile", "/students/#{@student.id}/edit", {:method => :get}
          
.container
  %h2 Scholarship Fields
  .btn-group
    %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      Gender
      %span.caret
    %ul.dropdown-menu
      %li
        %a{href: "#"} Male
      %li
        %a{href: "#"} Female
      %li
        %a{href: "#"} Other
  .btn-group
    %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      Race
      %span.caret
    %ul.dropdown-menu
      %li
        %a{href: "#"} Asian/Pacific Islander
      %li
        %a{href: "#"} African American
      %li
        %a{href: "#"} Hispanic/Latino
      %li
        %a{href: "#"} Native American or American Indian
      %li
        %a{href: "#"} White
      %li
        %a{href: "#"} Other

  .btn-group
    %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      Age
      %span.caret
    %ul.dropdown-menu
      %li
        %a{href: "#"} < 18
      %li
        %a{href: "#"} 18-24
      %li
        %a{href: "#"} 25-34
      %li
        %a{href: "#"} 34+

  .btn-group
    %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      GPA
      %span.caret
    %ul.dropdown-menu
      %li
        %a{href: "#"} < 2.5
      %li
        %a{href: "#"} 2.5-2.9
      %li
        %a{href: "#"} 3.0-3.4
      %li
        %a{href: "#"} 3.5-3.9
      %li
        %a{href: "#"} 4.0+

  .btn-group
    %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      Major
      %span.caret
    %ul.dropdown-menu
      %li
        %a{href: "#"} Biology
      %li
        %a{href: "#"} Business
      %li
        %a{href: "#"} Education
      %li
        %a{href: "#"} Engineering
      %li
        %a{href: "#"} Health Sciences   
      %li
        %a{href: "#"} Psychology
      %li
        %a{href: "#"} Physical Sciences
      %li
        %a{href: "#"} Social Sciences/History 

%br
%h3 See Your Personalized Scholarship Dashboard
%br
= link_to 'GO', '/dashboard', method: 'get', :class => "btn btn-default"
