= f.label :title
= f.text_field :title
%br
= f.label :description
= f.text_field :description
%br
= f.label :organization
= f.text_field :organization
%br
= f.label :gift_amount
= f.text_field :gift_amount
%br
/ = f.label :applied
/ = f.check_box :applied
/ %br
/ = f.label :student_id
/ = f.text_field :student_id
/ %br
= f.submit "Add"